# Cluster latest Python3 version is 3.9.7
# use "python3.9 -m venv <venv_name>" otherwise, Python 3.6 will be used
torch==2.1.2 torchvision==0.16.2 torchaudio==2.1.2 --index-url https://download.pytorch.org/whl/cu118
matplotlib
numpy
wandb
# "hydra-core --upgrade" <- has to be done manually
tqdm